$text-color: rgb(216, 205, 186);
$bkgrnd-color: rgb(36, 35, 35);
$bkgrnd-color-grey: rgb(88, 97, 87);

html {
  background-color: rgb(36, 35, 35);
  color: $text-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 2 1 auto;
  font-family: system-ui, -apple-system;
}

button{
  border-radius: 15px;
  width: 200px;
  height: 40px;
  background-color: $bkgrnd-color-grey;
  color: $text-color;
}

.PresentorBox {
  display: flex;
  justify-content: center;
}

.Log {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: larger;
  max-width: fit-content;
  .pass0{
    color: green;
  }
  .pass2{
    color: red;
  }
}

.Generator{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: larger;
}

.App{
  display: flex;
  flex-direction: column;
  align-items: center;
}

input{
  text-align: center;
  height: 20px;
  width: 200px;
  background-color: $bkgrnd-color-grey;
  color: $text-color;
}
